
.wrap{
  display: flex;
  flex-direction: column;
}

.wrap li {
  list-style: none;
  position: relative;

  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.7);
  
  margin-bottom: 50px;
}

.wrap a {
  text-decoration: none;
  color: black;
}

.wrap li img {
  width: 150px;
  max-height: 150px;
  position: absolute;
  left: 30px;
  top: 20px;
}

.wrap li article {
  padding-left: 220px;
  min-height: 200px;
}

